<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    {{> header}}
    <main id="main">
        <nav class="navigation">
            <ul class="navigation-list">
                {{#each cities}}
                <li class="navigation-item"><button
                        onclick="window.location.href='/weather/{{this}}'">{{this}}</button></li>
                {{/each}}
            </ul>
        </nav>
    </main>
    {{> footer}}
</body>

</html>